/* 전체 배너 영역 */
.banner {
  width: 100%;
  margin-top: 85px;
  background-color: #fff;
  position: relative;
  overflow: visible;
}

/* 배너 안 레이아웃 */
.banner_wrap {
  position: relative;
  width: 80%;
  max-width: 640px;
  margin: 0 auto;
}

/* Swiper 슬라이드 wrapper */
.sw_banner {
  overflow: visible;
  max-width: 640px;
  max-height: 320px;
  border-radius: 16px;
  display: flex;
}

/* 개별 슬라이드 */
.swiper-slide {
}

.swiper-slide:hover {
  transform: scale(1.02);
}

/* 슬라이드 이미지 */
.banner_slide_item img {
  display: block;
  width: 100%;
  /* 이미지 비율 유지를 위한 기본 설정 */
  max-width: 100%;
  height: auto;
  border-radius: 16px;
}

/* 좌우 화살표 버튼 공통 */
.banner_slide_prev {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e5e5e5;
  top: 50%;
  left: 0;
  z-index: 100;
  width: 48px;
  height: 48px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 24px;
  transform: translateX(-50%) translateY(-75%);
}

.banner_slide_prev img {
  transform: rotate(180deg);
}

.banner_slide_next {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(222, 226, 230);
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 100;
  width: 48px;
  height: 48px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 24px;
  transform: translateX(50%) translateY(-75%);
}


  /* 실제 사이트 <svg width="24" height="24" viewBox="0 0 24 24" 
  fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M9.07107 4.92893L16.1421 12L9.07107 19.0711" 
  stroke-width="2"></path></svg> */
.banner_slide_prev img,
.banner_slide_next img {
  width: 24px;
  height: 24px;
  stroke-width: 2;
}

.banner_slide_pg .swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  margin: 2px !important;
}

.banner_slide_pg .swiper-pagination-bullet-active {
  background-color: #000000;
}

/* 반응형 조정 */
@media screen and (max-width: 768px) {
  .banner {
    padding: 20px;
  }

  .banner_slide_prev,
  .banner_slide_next {
    width: 30px;
    height: 30px;
  }

  .banner_slide_prev img,
  .banner_slide_next img {
    width: 16px;
    height: 16px;
  }
}

/* 페이지네이션 버튼 */
.banner_slide_pg {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
