.download {
  background-color: #f0f1f6;
  border-bottom: 1px solid #eee;
  width: 100%;
  padding: 32px 0;
}

.download .layout {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 56px 16px;
}

.app_download {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; /* 기본: PC는 row */
  padding: 40px;
  gap: 56px;
  background-color: #fff;
  border-radius: 20px;
  box-sizing: border-box;
}

.guide_img {
  width: 100%;
  max-width: 360px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  flex-shrink: 0;
}

.download_guide {
  flex: 1;
  min-width: 0;
}

.download_guide p {
  padding: 24px 0;
  color: #777;
  font-size: 16px;
  line-height: 1.6;
}

.download_guide span {
  color: #1c1c1c;
  font-size: 24px;
  font-weight: 500;
}

.app_guide {
  width: 100%;
  max-width: 492px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.app_guide_bt {
  flex: 1 1 235px;
  min-width: 110px;
  height: 50px;
  padding: 12px;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  background-color: #fff;
  font-size: 16px;
  font-weight: 400;
  color: #444;
}

.app_guide_img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  display: inline-block;
  margin-right: 4px;
  vertical-align: middle;
}

/* 반응형 */
@media screen and (max-width: 768px) {
  .download {
    padding: 0px;
  }
  .download .layout {
    padding: 32px 24px;
  }
  .app_download.mb_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "img title"
      "img desc"
      "store google";
    gap: 12px;
    background-color: #fff;
    border-radius: 20px;
  }

  .mb_item {
    width: 100%;
  }

  .mb_img {
    grid-area: img;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mb_img .guide_img {
    width: 100%;
    max-width: 120px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }

  .mb_text {
    grid-area: title;
    padding-top: 8px;
    font-size: 16px;
    font-weight: 600;
    color: #1c1c1c;
  }

  .mb_text p {
    margin: 0;
    font-size: 14px;
    color: #555;
    line-height: 1.5;
  }

  .mb_text span {
    font-size: 16px;
    font-weight: 600;
  }

  .mb_store {
    grid-area: store;
  }

  .mb_google {
    grid-area: google;
  }

  .mb_store button,
  .mb_google button {
    width: 100%;
    font-size: 14px;
    height: 44px;
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
  }

  .mb_store .app_guide_img,
  .mb_google .app_guide_img {
    width: 18px;
    height: 18px;
  }
}
