.footer .layout {
  max-width: 1000px;
  margin: 0 auto;
  padding: 56px 16px;
  color: #1c1c1c;
}
.footer_wrap {
  display: flex;
}
.footer_top {
  width: 494px;
  height: 104.41px;
}
.customer_service {
  font-size: 17px;
  font-weight: 600;
}

.tel {
  font-size: 24px;
  font-weight: 700;
  color: #444;
  padding-bottom: 10px;
  padding-top: 10px;
}
.operating {
  color: #aaa;
  font-size: 14px;
  width: 494px;
  height: 42.41px;
}
.company {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 237px;
  height: 151.5px;
}
.company strong {
  color: #1c1c1c;
}
.company p {
  color: #777;
}
.business {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 237px;
  height: 151.5px;
}
.business strong {
  color: #1c1c1c;
}
.business p {
  color: #777;
}
.footer_info {
  gap: 10px;
  color: #777;
}
.footer_info p {
  font-size: 14px;
}
/* 중간 패딩 */
.line {
  margin-top: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #eee;
}
.inquiry {
  font-size: 14px;
  display: flex;
}

.inquiry p {
  cursor: pointer;
  margin-left: 5px;
}
.bar {
  margin-right: 5px;
}
.util_poilcy {
  font-size: 14px;
  color: #777;
  margin-top: 15px;
}

.policy {
  gap: 10px;
}
.footer_img {
  margin-top: 15px;
}
