.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 71px;
  background-color: #fff;
  border-bottom: 1px solid #e2e2e2;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}

.header .layout {
  max-width: 1024px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 18px;
}

.header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header_top_left {
  display: flex;
  align-items: center;
  gap: 48px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 88px;
  height: 32px;
}

.header_horizontal_menu {
  display: flex;
  align-items: center;
  position: relative;
  gap: 30px;
}

.header_horizontal_menu a {
  padding-right: 17px;
  font-size: 17px;
  font-weight: 500;
  color: #1c1c1c;
  text-decoration: none;
  position: relative;
  letter-spacing: -0.17px;
  display: block;
}

.header_horizontal_menu:hover a {
  color: gray;
  text-decoration: dashed;
}

.header_horizontal_menu a:hover {
  color: #1c1c1c;
  text-decoration: dashed;
}

.noti {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #ff5247;
  transform: translateX(-400%);
  right: -7px;
  line-height: 130%;
}

.header_top_right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header_top_right a {
  gap: 8px;
  display: flex;
  padding-right: 12px;
  color: #777;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
}

.login_bt {
  width: 76px;
  height: 38px;
  color: #fff;
  background-color: rgb(131, 127, 255);
  border-radius: 10px;
  border: 0px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.menu_button {
  display: none;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.menu_button img {
  height: 24px;
  display: none;
}

/* 반응형 스타일 */
@media all and (max-width: 768px) {
  .header {
    margin-bottom: 0 !important;
    height: 54px;
    padding: 0 10px;
    border-bottom: none;
    transition-duration: 0.15s;
  }

  .logo img {
    height: 28px;
    width: 77px;
  }

  .header_horizontal_menu {
    display: none;
  }

  .header_top_right {
    display: none;
  }

  .menu_button {
    height: 24px;
    display: flex;
    margin-top: -12px;
  }

  .menu_button img {
    height: 38px;
    width: 100%;
    display: block;
  }
}
