.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 71px;
  background-color: #fff;
  border-bottom: 1px solid #e2e2e2;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.header .layout {
  max-width: 1024px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 18px;
}

.header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header_top_left {
  display: flex;
  align-items: center;
  gap: 48px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 88px;
  height: 32px;
}

.header_horizontal_menu {
  display: flex;
  align-items: center;
  position: relative;
  gap: 30px;
}

.header_horizontal_menu a {
  padding-right: 17px;
  font-size: 17px;
  font-weight: 500;
  color: #1c1c1c;
  text-decoration: none;
  position: relative;
  letter-spacing: -0.17px;
  display: block;
}

.header_horizontal_menu a:hover {
  color: #1c1c1c;
  text-decoration: dashed;
}

.noti {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #ff5247;
  right: -7px;
  top: 5px;
}

.header_top_right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header_top_right a {
  gap: 8px;
  display: flex;
  padding-right: 12px;
  color: #777;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
}

/* 로그인 버튼 */
.login_bt {
  width: 76px;
  height: 38px;
  color: #fff;
  background-color: rgb(131, 127, 255);
  border-radius: 10px;
  border: 0;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

/* 햄버거 버튼 */
.mobile_menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 80%;
  height: 100vh;
  background-color: #fff;
  z-index: 1000;
  transition: right 0.3s ease;
  padding: 20px;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);
}

.mobile_menu.active {
  right: 0;
}
  
.menu_button {
  position: absolute;
  right: 18px;
  top: 18px;
  z-index: 1001;
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: none;
}

.menu_button img {
  width: 100%;
  height: auto;
  display: block;
}

/* 반응형*/
@media screen and (max-width: 1024px) {
  .header {
    height: 54px;
    border-bottom: none;
    padding: 0 10px;
    transition-duration: 0.15s;
  }

  .logo img {
    height: 28px;
    width: 77px;
  }

  .header_horizontal_menu,
  .header_top_right {
    display: none;
  }

  .menu_button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu_button img {
    height: 38px;
  }

  .mobile_menu {
    display: none;
  }
}

/* 스크롤 내릴 때 줄어드는 효과 */
.header_top_scroll {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.logo_hide {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.icon_hide {
  opacity: 0;
  transition: opacity 0.3s ease;
}
